# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2

# Matches multiple files with brace expansion notation
[*.{js,jsx,ts,tsx,json,css,scss,md}]
indent_size = 2

[*.dart]
indent_size = 2

# YAML files
[*.yml]
indent_size = 2

# HTML files
[*.html]
indent_size = 2

# Markdown files (md)
[*.md]
trim_trailing_whitespace = false

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2

# Docker files
[Dockerfile]
indent_style = space
indent_size = 2

# Python files
[*.py]
indent_style = space
indent_size = 4
